/**
 * Game of Life stylesheet
 * Author: Stéphane LEROY
 * Twitter : @StphaneL
 * Date: 02/03/13
 * Time: 15:29
 */

.center{
    text-align: center;
}
.world table{
    padding: 0;
    margin-top:5px;
    margin-left:auto;
    margin-right:auto;
    border-spacing: 0;
    border: 1px solid #2f4f4f;
}

.world td {
    padding: 0;
    border: 2px solid #2f4f4f;
}

.cell {
    padding: 10px;
    display: block;
}
.cell.alive-false{
    background-color: #f5f5dc;
}
.cell.alive-true{
    background-color: black;
}