<!DOCTYPE html>
<html ng-app="GameOfLife">
<head>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/world.js"></script>
    <script src="js/game-of-life.js"></script>

    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/game-of-life.css" rel="stylesheet" media="screen">
    <title>Game of Life</title>
</head>
<body>
    <div ng-controller="GameOfLifeCtrl" class="world">

        <div class="center">
            <h1>Game of Life
                <small>
                    (<i class="icon-minus-sign" ng-click="removeRow()"></i>{{nbRows}}<i class="icon-plus-sign" ng-click="addRow()"></i>
                     x
                    <i class="icon-minus-sign" ng-click="removeColumn()"></i>{{nbColumns}}<i class="icon-plus-sign" ng-click="addColumn()"></i>)
                </small>
            </h1>
        </div>
        <div class="center">
            <button class="btn btn-info" ng-click="ruleTheWorld()" ng-hide="started" ng-show="!started">Next Step</button>
            <button class="btn btn-primary" ng-click="start()" ng-hide="started" ng-show="!started">Start</button>
            <button class="btn btn-warning" ng-click="stop()" ng-hide="!started" ng-show="started">Stop</button>
            <button class="btn btn-danger" ng-click="reset()">Reset</button>
        </div>
        <table>
            <tr ng-repeat="rows in world">
                <td ng-repeat="cell in rows">
                    <span class="cell alive-{{cell.isAlive}}"
                          ng-click="cell.toggle()"
                          title="{{{true: 'alive', false: 'dead'}[cell.isAlive]}} ({{cell.posX}}-{{cell.posY}})">
                    </span>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>